/* 카테고리별 추천 광고상품 */
* {
  box-sizing: border-box;
}

body {
  width: fit-content;
  margin: 0 auto;
}

.houseware_container {
  display: flex;
  width: 1022px;
  height: 634px;
  border-top: 1px solid var(--color-brown-300);
  border-bottom: 1px solid var(--color-brown-300);
}
.houseware_side {
  width: 174px;
}
.houseware_title {
  margin: 48px 0px 8px 24px;
  font-size: calc(var(--base-size) * 2.4);
  font-weight: var(--weight-medium);
  color: var(--color-brown-300);
}
.houseware_link {
  display: inline-block;
  padding-left: 24px;
  font-size: calc(var(--base-size) * 1.4);
  font-weight: var(--weight-bold);
  color: var(--color-gray-700);
  position: relative;
}

.houseware_link::after {
  content: '';
  position: absolute;
  top: 4px;
  right: -10px;
  width: 6px;
  height: 10px;

  background-image: url('../../assets/icon/angle-right-default.svg');
  background-repeat: no-repeat;
}

.hot_keyword {
  margin: 248px 0px 20px 24px;
  font-size: calc(var(--base-size) * 1.8);
  font-weight: var(--weight-medium);
  color: var(--color-black);
}

.keyword_daily_necessities {
  display: inline-block;
  margin: 0px 0px 12px 24px;
  border: solid 1px var(--color-gray-400);
  padding: 6px 10px;
  height: 26px;
  font-size: calc(var(--base-size) * 1.2);
  font-weight: var(--weight-regular);
  color: var(--color-brown-300);
}

.carousel_container {
  width: 320px;
  height: 631px;
  overflow: hidden;
}

.carousel_slide {
  display: flex;
  animation: slide 4s infinite alternate ease-in-out;
}
.slide_item {
  position: relative;
}
.slide_txt_box {
  position: absolute;
  left: 30px;
  bottom: 58px;
  width: 260px;
  height: 90px;
  background-color: var(--color-brown-300);
  color: var(--color-white);
}
.slide_txt_title {
  position: absolute;
  top: 19px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: calc(var(--base-size) * 1.8);
  font-weight: var(--weight-bold);
}
.slide_txt_content {
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: calc(var(--base-size) * 1.4);
  font-weight: var(--weight-regular);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.item_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  width: 512px;
}
.item_box {
  width: 160px;
  height: 300px;
}
