/* Theme 스타일 작성 */
:root {
  --title-color: #181818;
  --title-description-color: #aaa9a9;
  --img-box-color: #c4c4c4;
  --btn-background-color: rgba(0, 0, 0, 0.2);
  --btn-color: #f3f3f3;
  --active-color: #0074e9;
  --active-text-color: #ffffff;
}
